{
  "openapi": "3.0.3",
  "info": {
    "title": "MotoGT Backend API",
    "description": "\n# MotoGT Complete Multi-Store Car Parts E-commerce API\n\nThis is the **COMPLETE** API documentation for the MotoGT platform - a comprehensive multi-store, multi-language car parts e-commerce system.\n\n## Key Features\n- 🏪 **Multi-Store Support**: Each store operates independently with its own products and orders\n- 🌍 **Multi-Language**: Full internationalization support for product content *(languageId required)*\n- 🚗 **Car Compatibility**: Advanced filtering system based on car models and compatibility\n- 🛒 **Shopping Cart**: Store-specific cart management with session persistence\n- 🚚 **Checkout System**: Complete order processing with address management and promo codes\n- 🎯 **Promo Codes**: Discount system with validation (use \"test123\" for 50% discount)\n- 🔧 **User Garage**: Personal car management for compatibility filtering\n- ❤️ **Favourites System**: Personal product favourites management\n- 📍 **Address Management**: Complete shipping/billing address system\n- 🔐 **Secure Authentication**: JWT-based auth with role-based access control\n- 📱 **Admin Panel**: Comprehensive admin tools for store and product management\n\n## Authentication\nMost endpoints require authentication via JWT Bearer tokens:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Language Support\n⚠️ **Important**: Product endpoints require languageId parameter to return localized content.\n\n## API Structure\n- **Public APIs**: Product/category browsing (minimal auth required)\n- **User APIs**: Cart, checkout, garage, favourites, addresses (requires user auth)\n- **Admin APIs**: Product management, store administration (requires admin auth)\n- **System APIs**: Health checks and API information\n\n## Rate Limiting\nAPI endpoints are rate-limited in production. See response headers for current limits.\n    ",
    "version": "1.0.0",
    "contact": {
      "name": "MotoGT API Support",
      "email": "dev@motogt.com"
    }
  },
  "externalDocs": {
    "description": "Production API Root",
    "url": "https://api.motogt.com/"
  },
  "servers": [
    {
      "url": "https://api.motogt.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and session management"
    },
    {
      "name": "Users - Admin",
      "description": "Admin user management (list, details, verification)"
    },
    {
      "name": "Stores",
      "description": "Multi-store management and configuration"
    },
    {
      "name": "Cars",
      "description": "Car database for compatibility filtering"
    },
    {
      "name": "Product Types",
      "description": "Product type management (dynamic system with translations)"
    },
    {
      "name": "Product Types - Admin",
      "description": "Product type CRUD operations (admin only)"
    },
    {
      "name": "Categories",
      "description": "Product category management"
    },
    {
      "name": "Products",
      "description": "Product catalog (public endpoints)"
    },
    {
      "name": "Products - Admin",
      "description": "Product management (admin only)"
    },
    {
      "name": "Home",
      "description": "Static home page APIs for category-specific products"
    },
    {
      "name": "Cart",
      "description": "Store-specific shopping cart operations"
    },
    {
      "name": "Checkout",
      "description": "Order creation and management"
    },
    {
      "name": "Guest Checkout",
      "description": "Guest checkout and order tracking for non-authenticated users"
    },
    {
      "name": "Order Management - User",
      "description": "User order operations (retry payment, cancel)"
    },
    {
      "name": "Order Management - Admin",
      "description": "Admin order lifecycle management (confirm, ship, deliver, refund)"
    },
    {
      "name": "User Garage",
      "description": "Personal car management (My Garage)"
    },
    {
      "name": "Favourites",
      "description": "Personal product favourites system"
    },
    {
      "name": "Addresses",
      "description": "User shipping/billing address management"
    },
    {
      "name": "Payments",
      "description": "MEPS/PayTabs payment gateway integration for order payments"
    },
    {
      "name": "Exchange Rates",
      "description": "Public currency exchange rate APIs for multi-currency support"
    },
    {
      "name": "System",
      "description": "Health checks and system information"
    }
  ],
  "paths": {
    "/api/exchange-rates/currencies": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get all supported currencies",
        "description": "Returns a list of all supported currencies for multi-currency conversion. No authentication required.",
        "security": [
          
        ],
        "responses": {
          "200": {
            "description": "List of supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "currencies": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "JOD",
                            "AED",
                            "SAR",
                            "QAR",
                            "USD"
                          ]
                        },
                        "count": {
                          "type": "number",
                          "example": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/exchange-rates": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get exchange rate for currency pair",
        "description": "Retrieves the current exchange rate between two currencies. Rates are updated daily at 2 AM. No authentication required.",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code (e.g., JOD)",
            "schema": {
              "type": "string",
              "enum": [
                "JOD",
                "AED",
                "SAR",
                "QAR",
                "USD"
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code (e.g., AED)",
            "schema": {
              "type": "string",
              "enum": [
                "JOD",
                "AED",
                "SAR",
                "QAR",
                "USD"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rate retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "baseCurrency": {
                          "type": "string",
                          "example": "JOD"
                        },
                        "targetCurrency": {
                          "type": "string",
                          "example": "AED"
                        },
                        "rate": {
                          "type": "number",
                          "example": 5.1798
                        },
                        "fetchedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-02-11T20:39:01.529Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid currency codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid request"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/exchange-rates/convert": {
      "post": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Convert amount between currencies",
        "description": "Converts a monetary amount from one currency to another using current exchange rates. Perfect for real-time price conversion in the frontend. No authentication required.",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "from",
                  "to"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to convert (must be positive)",
                    "example": 100
                  },
                  "from": {
                    "type": "string",
                    "description": "Source currency code",
                    "enum": [
                      "JOD",
                      "AED",
                      "SAR",
                      "QAR",
                      "USD"
                    ],
                    "example": "JOD"
                  },
                  "to": {
                    "type": "string",
                    "description": "Target currency code",
                    "enum": [
                      "JOD",
                      "AED",
                      "SAR",
                      "QAR",
                      "USD"
                    ],
                    "example": "AED"
                  }
                }
              },
              "example": {
                "amount": 100,
                "from": "JOD",
                "to": "AED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Amount converted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "originalAmount": {
                          "type": "number",
                          "example": 100
                        },
                        "originalCurrency": {
                          "type": "string",
                          "example": "JOD"
                        },
                        "convertedAmount": {
                          "type": "number",
                          "example": 517.98
                        },
                        "convertedCurrency": {
                          "type": "string",
                          "example": "AED"
                        },
                        "rate": {
                          "type": "number",
                          "example": 5.1798
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid request"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new user",
        "description": "Registers a new user and emails a 6-digit OTP for verification (expires in 10 minutes).",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "testuser@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "example": "Test123!@#"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Test"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "User"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "+1234567890"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "example": "1990-01-01"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ],
                    "example": "male"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          }
        }
      }
    },
    "/api/auth/confirm-password-reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Confirm password reset",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "newPassword",
                  "confirmPassword"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Password reset token"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  },
                  "confirmPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/auth/otp/send": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send email verification OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent if eligible"
          }
        }
      }
    },
    "/api/auth/otp/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify email via OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "otp"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "otp": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "isVerified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired OTP"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User login",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "testuser@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test123!@#"
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "examples": {
                  "login_success": {
                    "summary": "Verified user login (tokens returned) ",
                    "value": {
                      "success": true,
                      "data": {
                        "user": {
                          "userId": "11111111-1111-1111-1111-111111111111",
                          "email": "testuser@example.com",
                          "firstName": "Test",
                          "lastName": "User",
                          "phone": "+1234567890",
                          "role": "customer",
                          "status": "active",
                          "isEmailVerified": true,
                          "isPhoneVerified": false,
                          "preferredLanguageId": null,
                          "dateOfBirth": null,
                          "gender": null,
                          "avatarUrl": null,
                          "additionalInfo": {
                            
                          },
                          "createdAt": "2025-01-01T00:00:00.000Z",
                          "updatedAt": "2025-01-01T00:00:00.000Z",
                          "lastLoginAt": "2025-01-02T00:00:00.000Z"
                        },
                        "auth": {
                          "requiresEmailVerification": false,
                          "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                          "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                          "sessionId": "22222222-2222-2222-2222-222222222222"
                        }
                      }
                    }
                  },
                  "email_verification_required": {
                    "summary": "Credentials valid but email not verified; OTP auto-sent",
                    "value": {
                      "success": true,
                      "data": {
                        "user": {
                          "userId": "11111111-1111-1111-1111-111111111111",
                          "email": "testuser@example.com",
                          "firstName": "Test",
                          "lastName": "User",
                          "phone": "+1234567890",
                          "role": "customer",
                          "status": "active",
                          "isEmailVerified": false,
                          "isPhoneVerified": false,
                          "preferredLanguageId": null,
                          "dateOfBirth": null,
                          "gender": null,
                          "avatarUrl": null,
                          "additionalInfo": {
                            
                          },
                          "createdAt": "2025-01-01T00:00:00.000Z",
                          "updatedAt": "2025-01-01T00:00:00.000Z",
                          "lastLoginAt": null
                        },
                        "auth": {
                          "requiresEmailVerification": true,
                          "message": "Email not verified. A new OTP has been sent to your email."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accessToken": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "refreshToken": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "sessionId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "accessToken",
                        "refreshToken",
                        "sessionId"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get current user",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update user profile",
        "description": "Update current user profile information. Email address cannot be changed via this endpoint.",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Jihad",
                    "description": "User first name"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Aqel",
                    "description": "User last name"
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true,
                    "example": "+962790284780",
                    "description": "User phone number (nullable)"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "nullable": true,
                    "example": "1997-01-15",
                    "description": "User date of birth in ISO format (nullable)"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ],
                    "nullable": true,
                    "example": "male",
                    "description": "User gender (nullable)"
                  }
                },
                "additionalProperties": false,
                "description": "At least one field must be provided for update. Email updates are not supported."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/UserProfile"
                        },
                        "message": {
                          "type": "string",
                          "example": "Profile updated successfully.",
                          "description": "Success message"
                        },
                        "emailVerificationRequired": {
                          "type": "boolean",
                          "example": false,
                          "description": "Always false because email cannot be changed via this endpoint"
                        }
                      },
                      "required": [
                        "user",
                        "message"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "correlationId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError",
            "description": "Invalid input data or at least one field is required"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError",
            "description": "Email address is already in use by another user"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset password (authenticated)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword",
                  "confirmPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "example": "Test123!@#"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8,
                    "example": "NewTest123!@#"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "NewTest123!@#"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot password",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "testuser@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Password reset email sent successfully"
                        },
                        "emailSent": {
                          "type": "boolean",
                          "example": true
                        }
                      },
                      "required": [
                        "message",
                        "emailSent"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout user",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Users - Admin"
        ],
        "summary": "List users (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "customer"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "suspended"
              ]
            }
          },
          {
            "in": "query",
            "name": "emailVerified",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "lastLoginAt"
              ],
              "default": "createdAt"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated users list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "page",
                        "limit",
                        "total"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "email",
                              "firstName",
                              "lastName",
                              "role",
                              "status",
                              "emailVerified",
                              "createdAt",
                              "updatedAt"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string",
                                "nullable": true
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "admin",
                                  "customer"
                                ]
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive",
                                  "suspended"
                                ]
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "lastLoginAt": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "correlationId",
                        "timestamp"
                      ],
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/admin/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Admin login",
        "description": "Authenticate an admin user and receive access/refresh tokens.",
        "security": [
          
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "admin@motogt.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "StrongPass!123"
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "admin"
                          ]
                        },
                        "isEmailVerified": {
                          "type": "boolean"
                        },
                        "requiresEmailVerification": {
                          "type": "boolean"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "sessionId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "userId",
                        "email",
                        "role",
                        "isEmailVerified",
                        "accessToken",
                        "refreshToken",
                        "sessionId"
                      ]
                    },
                    "meta": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/admin/users/{userId}": {
      "get": {
        "tags": [
          "Users - Admin"
        ],
        "summary": "Get user details (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "email",
                        "firstName",
                        "lastName",
                        "role",
                        "status",
                        "isEmailVerified",
                        "isPhoneVerified",
                        "additionalInfo",
                        "createdAt",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string",
                          "nullable": true
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "admin",
                            "customer"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "inactive",
                            "suspended"
                          ]
                        },
                        "isEmailVerified": {
                          "type": "boolean"
                        },
                        "isPhoneVerified": {
                          "type": "boolean"
                        },
                        "preferredLanguageId": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "gender": {
                          "type": "string",
                          "nullable": true
                        },
                        "avatarUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "additionalInfo": {
                          "type": "object"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastLoginAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "correlationId",
                        "timestamp"
                      ],
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/users/{userId}/verify": {
      "post": {
        "tags": [
          "Users - Admin"
        ],
        "summary": "Verify user (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User verification updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "userId",
                        "email",
                        "emailVerified",
                        "updatedAt"
                      ],
                      "properties": {
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "correlationId",
                        "timestamp"
                      ],
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/users/{userId}/unverify": {
      "post": {
        "tags": [
          "Users - Admin"
        ],
        "summary": "Unverify user (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User verification updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "userId",
                        "email",
                        "emailVerified",
                        "updatedAt"
                      ],
                      "properties": {
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "correlationId",
                        "timestamp"
                      ],
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/orders": {
      "get": {
        "tags": [
          "Orders - Admin"
        ],
        "summary": "List orders (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "processing",
                "shipped",
                "delivered",
                "cancelled",
                "refunded"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "default": "createdAt"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "page",
                        "limit",
                        "total"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "orderNumber",
                              "status",
                              "userId",
                              "storeId",
                              "totalAmount",
                              "currency",
                              "customer",
                              "createdAt",
                              "updatedAt"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "orderNumber": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "confirmed",
                                  "processing",
                                  "shipped",
                                  "delivered",
                                  "cancelled",
                                  "refunded"
                                ]
                              },
                              "userId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "storeId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "totalAmount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "customer": {
                                "type": "object",
                                "nullable": true,
                                "required": [
                                  "firstName",
                                  "lastName",
                                  "email"
                                ],
                                "properties": {
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders - Admin"
        ],
        "summary": "Get order details (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details with items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "order",
                        "items"
                      ],
                      "properties": {
                        "order": {
                          "type": "object",
                          "required": [
                            "id",
                            "storeId",
                            "userId",
                            "orderNumber",
                            "status",
                            "subtotal",
                            "taxAmount",
                            "shippingAmount",
                            "discountAmount",
                            "totalAmount",
                            "currency",
                            "customer",
                            "createdAt",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "storeId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "userId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "orderNumber": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "confirmed",
                                "processing",
                                "shipped",
                                "delivered",
                                "cancelled",
                                "refunded"
                              ]
                            },
                            "subtotal": {
                              "type": "string"
                            },
                            "taxAmount": {
                              "type": "string"
                            },
                            "shippingAmount": {
                              "type": "string"
                            },
                            "discountAmount": {
                              "type": "string"
                            },
                            "totalAmount": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "customer": {
                              "type": "object",
                              "nullable": true,
                              "required": [
                                "id",
                                "firstName",
                                "lastName",
                                "email"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email"
                                },
                                "phone": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "productId",
                              "quantity",
                              "unitPrice",
                              "totalPrice",
                              "currency",
                              "productSnapshot",
                              "createdAt"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "productId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "unitPrice": {
                                "type": "string"
                              },
                              "totalPrice": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "productSnapshot": {
                                "type": "object"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "correlationId",
                        "timestamp"
                      ],
                      "properties": {
                        "correlationId": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/orders/{orderId}/status": {
      "patch": {
        "tags": [
          "Orders - Admin"
        ],
        "summary": "Update order status (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "confirmed",
                      "processing",
                      "shipped",
                      "delivered",
                      "cancelled",
                      "refunded"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "orderId",
                        "oldStatus",
                        "newStatus",
                        "updatedAt"
                      ],
                      "properties": {
                        "orderId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "oldStatus": {
                          "type": "string"
                        },
                        "newStatus": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stores": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "List all stores",
        "description": "Get paginated list of all stores in the system. Public endpoint.",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page"
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by active status"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by country code (e.g., JO, AE)"
          },
          {
            "name": "currencyCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by currency code (e.g., JOD, AED)"
          }
        ],
        "responses": {
          "200": {
            "description": "Stores retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StoreResponse"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        },
                        "hasNext": {
                          "type": "boolean"
                        },
                        "hasPrev": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "post": {
        "tags": [
          "Stores"
        ],
        "summary": "Create new store (admin)",
        "description": "Create a new store with supported languages. Admin only.",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "name",
                  "country",
                  "currencyCode",
                  "timezone",
                  "domain",
                  "supportedLanguages"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "JO",
                    "description": "Uppercase store code (2-10 chars)"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jordan Store",
                    "description": "Store display name"
                  },
                  "country": {
                    "type": "string",
                    "example": "JO",
                    "description": "ISO 3166-1 alpha-2 country code"
                  },
                  "currencyCode": {
                    "type": "string",
                    "example": "JOD",
                    "description": "ISO 4217 currency code"
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Asia/Amman",
                    "description": "IANA timezone"
                  },
                  "domain": {
                    "type": "string",
                    "example": "motogt.jo",
                    "description": "Store domain"
                  },
                  "isActive": {
                    "type": "boolean",
                    "default": true,
                    "example": true
                  },
                  "supportedLanguages": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "languageId",
                        "isDefault"
                      ],
                      "properties": {
                        "languageId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "3a59981f-5f2d-4b3e-a12a-2c2b25b4680b"
                        },
                        "isDefault": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Store created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Store created successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StoreResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/stores/{storeId}": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "Get store by ID",
        "description": "Retrieve detailed information about a specific store. Public endpoint.",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "19bf2cb6-1b50-4b95-80d6-9da6560588fc"
          }
        ],
        "responses": {
          "200": {
            "description": "Store retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/StoreResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Stores"
        ],
        "summary": "Update store (admin)",
        "description": "Update an existing store's details and/or supported languages. Admin only.",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Jordan Store Updated"
                  },
                  "domain": {
                    "type": "string",
                    "example": "motogt.jo"
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true
                  },
                  "supportedLanguages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "languageId",
                        "isDefault"
                      ],
                      "properties": {
                        "languageId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "isDefault": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Store updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Store updated successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StoreResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Stores"
        ],
        "summary": "Delete store (admin)",
        "description": "Delete a store from the system. Admin only.",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Store deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Store deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/cars": {
      "get": {
        "tags": [
          "Cars"
        ],
        "summary": "List all cars",
        "description": "Get paginated list of all cars in the database for compatibility filtering.",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "brand",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by car brand"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by car model"
          },
          {
            "name": "yearFrom",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by year from"
          },
          {
            "name": "yearTo",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by year to"
          }
        ],
        "responses": {
          "200": {
            "description": "Cars retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "post": {
        "tags": [
          "Cars"
        ],
        "summary": "Create car (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brand": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "yearFrom": {
                    "type": "integer",
                    "nullable": true
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "engineSize": {
                    "type": "string",
                    "nullable": true
                  },
                  "fuelType": {
                    "type": "string",
                    "nullable": true
                  },
                  "transmission": {
                    "type": "string",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "nullable": true
                  },
                  "image": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "brand",
                  "model"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Car created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/cars/{carId}": {
      "get": {
        "tags": [
          "Cars"
        ],
        "summary": "Get car by ID",
        "description": "Get detailed information about a specific car.",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "carId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Car retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Cars"
        ],
        "summary": "Update car (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "name": "carId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brand": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "yearFrom": {
                    "type": "integer",
                    "nullable": true
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "engineSize": {
                    "type": "string",
                    "nullable": true
                  },
                  "fuelType": {
                    "type": "string",
                    "nullable": true
                  },
                  "transmission": {
                    "type": "string",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "nullable": true
                  },
                  "image": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Car updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Cars"
        ],
        "summary": "Delete car (admin)",
        "security": [
          {
            "bearerAuth": [
              
            ]
          }
        ],
        "parameters": [
          {
            "name": "carId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Car deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/cars/models": {
      "get": {
        "tags": [
          "Cars"
        ],
        "summary": "Get car models",
        "description": "Get all unique car models for a store, optionally filtered by brand.\n        \n**Features:**\n- ✅ **Store-specific**: Returns models available in the specified store only\n- ✅ **Brand filtering**: Optional brand parameter to filter models for specific manufacturer\n- ✅ **No pagination**: Returns all models at once (optimized for dropdowns/selects)\n- ✅ **Unique models**: Deduplicates model names from database\n- ✅ **Fast performance**: Optimized query with proper indexing\n\n**Use Cases:**\n- Frontend dropdowns for car model selection\n- Filter products by specific car models\n- Build car selection wizards\n- API integration for third-party services\n\n**Examples:**\n- Get all models: `GET /api/cars/models?store_id=19bf2cb6-1b50-4b95-80d6-9da6560588fc`\n- Get BMW models only: `GET /api/cars/models?store_id=19bf2cb6-1b50-4b95-80d6-9da6560588fc&brand=BMW`\n- Get Mercedes models: `GET /api/cars/models?store_id=19bf2cb6-1b50-4b95-80d6-9da6560588fc&brand=MERCEDES`\n        ",
        "security": [
          
        ],
        "parameters": [
          {
            "name": "store_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Store ID to get models for",
            "example": "19bf2cb6-1b50-4b95-80d6-9da6560588fc"
          },
          {
            "name": "brand",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
[...]
